@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0px auto;
    padding: 0px;
    max-width: 800px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    color: white;
    background-color: black;
    text-shadow: 0 25px 25px rgba(0,0,0,.15);
}

.main-container {
    min-height: 100vh;
    border-left: 2px solid;
    border-right: 2px solid;
    border-color: #4a4b4ef9;
}

.header {
    padding: 5px;
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-color: #4a4b4ef9 ;
    text-align: center;
}

.heading {
    color: white;
}

.subheading {
    color: grey;
    margin-bottom: 5px;
}

.ayush24k {
    color: #EA37A3;
}

.content {
    padding-top: 10px;
    padding-left: 5px;
}

section {
    margin-bottom: 20px;
}